.info-box {
  float: left;
  padding: 0 10px;
}
.info-box .m-info {
  float: left;
  line-height: 45px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info-box .m-name,
.info-box .singer-name {
  font-weight: bold;
  color: #333;
  font-size: 12px;
  display: inline-block;
  margin: 0 10px;
}
.info-box .singer-name {
  font-weight: normal;
}
