.progress-box {
  float: left;
  width: 600px;
  margin-top: 10px;
}
.current-time,
.duration-time {
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
}
.duration-time {
  display: inline-block;
}
