.nav-box{
    float:left;
    background:#242424;
    border:none;
    margin:0;
    li{
        list-style:none;
     cursor: pointer;
        float:left;
       line-height:64px;
       font-size:14px;
       padding:0 15px;
       a{
           color:#ccc;
           text-decoration: none;
         
       }
        
    }
    .active{
        background:#000;
        a{
            color:#fff;
        }
        
    }
}

.nav-right-box{
    float: right;
    height:64px;
    padding-right:10px;
    padding-top:15px;
    .search{
        display:inline-block;
        
    }

    .loginMenu{
        display: inline-block;
        vertical-align: middle;
        margin:3px  10px 0;
    }
}
