body {
  background: #f5f5f5;
}
.nav-box {
  float: left;
  background: #242424;
  border: none;
  margin: 0;
}
.nav-box li {
  position: relative;
  list-style: none;
  color: #fff;
  cursor: pointer;
  float: left;
  line-height: 61px;
  font-size: 14px;
  padding: 0 15px;
}
.nav-box li a {
  color: #ccc;
  text-decoration: none;
}
.nav-box li .hot {
  width: 28px;
  height: 19px;
  position: absolute;
  right: -7px;
  top: 6px;
  background: url("../assets/topbar.png") no-repeat -192px 0;
}
.nav-box .current {
  position: absolute;
  background: url("../assets/topbar.png") no-repeat -226px 0;
  width: 12px;
  height: 6px;
  bottom: 0;
  left: 50%;
}
.nav-box .active {
  background: #000;
}
.nav-box .active a {
  color: #fff;
}
.nav-right-box {
  float: right;
  height: 64px;
  padding-right: 10px;
  padding-top: 15px;
}
.nav-right-box .search {
  display: inline-block;
}
.nav-right-box .loginMenu {
  display: inline-block;
  vertical-align: middle;
  margin: 3px  10px 0;
}
.subMenu-box {
  background: #C20C0C;
}
.submenu {
  width: 1100px;
  margin: 0 auto;
}
.submenu .ant-menu-horizontal {
  line-height: 32px;
}
.submenu .ant-menu-horizontal .ant-menu-item-active {
  border: none;
  color: #fff;
}
.submenu .ant-menu-horizontal > .ant-menu-item-selected,
.submenu .ant-menu-horizontal > .ant-menu-submenu-selected {
  border: none;
  color: #fff;
}
.submenu .ant-menu {
  background: transparent;
}
.ant-menu-horizontal > .ant-menu-item {
  border-bottom: none;
  color: #fff;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 336px;
  line-height: 336px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.down-box {
  height: 336px;
  width: 254px;
  background: url("../assets/image/download.png") no-repeat 0 0;
}
.ant-carousel .slick-dots li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #f12020;
}
.ant-carousel .slick-dots li button {
  display: none;
}
.ant-carousel .slick-dots .slick-active {
  background-color: #fff;
}
.ant-carousel .slick-dots .slick-active button {
  display: none;
}
