.PlayerWrap {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: 53px;
}
.PlayerContainer {
  position: relative;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: 53px;
  background: -webkit-linear-gradient(top, #fff, #b1a6a6);
}
.PlayerContainer .play-box {
  width: 980px;
  margin: 0 auto;
  height: 53px;
  padding-top: 10px;
  position: relative;
}
