.volume-box {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}
.volume-box .voice {
  font-size: 18px;
  cursor: pointer;
}
.voice-pannal {
  width: 30px;
  height: 150px;
  padding-top: 20px;
  background: #ddd;
}
.voice-pannal .voice-slot {
  width: 5px;
  height: 130px;
  margin: 0 auto;
  background: #eee;
  position: relative;
}
.voice-pannal .voice-control {
  background: #00ff4c;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 5px;
  left: 0;
}
.voice-pannal .voice-control .point-bar {
  position: absolute;
  border-radius: 50%;
  border: 4px solid #4b0808;
  background: #fff;
  width: 14px;
  height: 14px;
  left: 0;
  top: -11px;
  margin-left: -4px;
}
